# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


# Windows shortcuts
*.lnk

# Thumbnails
._*

# Python compiled bite code
*.pyc
*.pyc.swp
__pycache__/
*.py[cod]

# Python crash log
*debug.log

# HTML Report Working Files
*.htm*
tests/testfile.txt
seasons/testfile.txt

# CSV Report Working Files
*.csv

# data files
data/

#lambda make folder
lambda/tmp/

#Spyder project folder
.spyproject/

# output working files
output/

# vscode settings
.vscode/

# pycharm settings
.idea/

# vertual environment
venv/


#packaging
dist/
build/
*egg-info/

