# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


# Windows shortcuts
*.lnk

# Thumbnails
._*

# Python compiled bite code
*.pyc
*.pyc.swp
__pycache__/
*.py[cod]

# HTML Report Working Files
*.htm*


# CSV Report Working Files
*.csv

# debug file
testfile.txt

#temp extracts
temp/

#lambda make folder
lambda/

#lambda make folder
.spyproject/


# output working files
output/

# seasons working files
seasons_data/

# vscode settings
.vscode/

